.photo-grid {
    width: calc(100% - 38px);
    margin: 36px auto 0;
}

@media screen and (min-width: 768px) {
    .photo-grid {
        display: grid;
        grid-template-columns: repeat(2, minmax(282px, 1fr));
        column-gap: 17px;
        row-gap: 20px;
        width: 100%;
        margin: 43px 0 58px;
    }
}

@media screen and (min-width: 1280px) {
    .photo-grid {
        grid-template-columns: repeat(3, minmax(282px, 1fr));
        margin: 47px 0 0;
    }
}