.page {
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;
    position: relative;
    min-width: 320px;
}

@media screen and (min-width: 768px) {
    .page {
        padding: 0 100px;
        box-sizing: border-box;
    }
}

@media screen and (min-width:1024px) {
    .page {
        padding-left: 140px;
        padding-right: 140px;
    }
}

@media screen and (min-width: 1280px) {
    .page {
        max-width: 1280px;
        margin: 0 auto;
        padding-left: 200px;
        padding-right: 200px;
    }
}