.profile__change-avatar-button {
    all: unset;
    display: flex;
    position: relative;
    border-radius: 50%;
    cursor: pointer;
}

@media screen and (min-width: 768px) {
    .profile__change-avatar-button {
        justify-self: start;
        margin-right: 20px;
    }
}

@media screen and (min-width: 1024px) {
    .profile__change-avatar-button {
        margin-right: 30px;
    }
}