.form__submit-button {
    margin: 45px 22px 25px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #fff;
    padding-top: 14px;
    padding-bottom: 14px;
    background: #000;
    border-radius: 2px;
    cursor: pointer;
    transition: 0.5s ease-in-out;
}

.form__submit-button:hover {
    opacity: 0.8;
}

@media screen and (min-width: 768px) {
    .form__submit-button {
        margin-left: 28px;
        margin-right: 28px;
        margin-bottom: 30px;
        padding-top: 16px;
        padding-bottom: 16px;
    }
}

@media screen and (min-width: 1024px) {
    .form__submit-button {
        margin: 48px 36px 37px;
        font-size: 18px;
        line-height: 22px;
    }
}