.card {
    display: flex;
    flex-direction: column;
    color: #000;
    margin-bottom: 20px;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    box-sizing: border-box;
}

@media screen and (min-width: 768px) {
    .card {
        margin-bottom: 0;
        min-width: 282px;
    }
}